.App {
  text-align: center;
  background: #787878;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0px;
  margin-bottom: 5vh;
  background: black;
  color: white;
}

.poster {
  width: 5vw;
  height: 5vh;
  text-align: 'left';
}

.movie-input {
  width: 50vw;
}

.movie-suggestion-list-item {
  border: 0.1vw solid black;
  margin-bottom: 0.2vh;
  width: 50vw;
  margin-top: 0;
  margin-left: 25vw;
  text-align: left;
  padding-left: 1vw;
  /* justify-content: center; */
  align-items: center;
  color: whitesmoke;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
